.navbar{
    background-color: rgb(243, 200, 10);
    width: 1350px;
    height: 200px;
    float: left;
}
.navbar-option{
    background-color:white;
    width: 1200px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    margin-left: 70px;
    margin-top: 65px;
}
.navbar-option>div{
    background-color:red;
    height: 20px;
    color: white;
    text-align: center;
    padding: 20px;
    margin: 5px;
    margin-top: 65px;
    border: 3px white solid;
}
.navbar-option :hover{
    background-color: rgb(243, 200, 10);
}
.navbar-option>div :hover{
    font-size: 20px;
    color: black;
}
.appin-logo{
    border: 4px 4px 4px 4px;
    border-radius: 500px;
    border-style: hidden;
    border-color: aliceblue;
    background-color: aqua;
    width: 160px;
    height: 160px;
    margin: 20px;
    
}
.search{
    float: right;
    height: 35px;
    width: 35px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.contact{
    margin-left: 100px;
    
  }
  .contact-form{
    float: left;
    text-align: left;
  }

  .appin-map{
    margin-top: 100px;
    margin-right: 50px;
    float: right;
  }
  .button-container-4 {
    position: relative;
    width: 100px;
    height: 50px;
    margin-left: 100px;
    margin-top: 4vh;
    overflow: hidden;
    border: 1px solid #000;
    font-family: "Lato", sans-serif;
    font-weight:bolder;
    transition: 0.5s;
    letter-spacing: 1px;
    border-radius: 100px;
  }

  .button-container-4 button {
    width: 101%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: 2px;
    font-weight: bold;
    background: #000;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
    -webkit-mask-size: 3000% 100%;
    mask-size: 3000% 100%;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;
  }
  .button-container-4 button:hover {
    -webkit-animation: ani 0.7s steps(29) forwards;
    animation: ani 0.7s steps(29) forwards;
  }

  .mas {
    position: absolute;
    color: #000;
    text-align: center;
    width: 101%;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    position: absolute;
    font-size: 11px;
    margin-top: 17px;
    overflow: hidden;
    font-weight: bold;
  }
  
  @-webkit-keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }
  @-webkit-keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }
  @keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }